<h1>New user</h1>

<div>
	hello
</div>
<div class="depot-form">
<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <legend>Enter User Details</legend>

  <div>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :hashed_password %><br />
    <%= f.text_field :hashed_password %>
  </div>
  <div>
    <%= f.label :salt %><br />
    <%= f.text_field :salt %>
  </div>
  <div>
    <%= f.submit 'Create' %>
  </div>
  </fieldset>

<% end %>

<%= link_to 'Back', users_path %>
</div>